/* ייבוא גופן ממקור חיצוני */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  direction: ltr;
  background-color: black;;
  padding-bottom: 200px;
  font-size: 18px;
}

::selection {
  background-color: #FF4F9A;
  color: #010101;
}

.page-container {
  max-width: 1300px;
  margin: auto;
  padding: 3px;
  padding-left: 20px;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 40px;
  margin-block-end: -0.2em;
}

p {
  color: #F5F5F5;
  font-weight: 300;
}

.logo img{
  width: 23px;
  height: 23px;
  padding-top: 3px;
  cursor: pointer;
}

.logo img:hover {
  display: flex;
  transform: scale(1.3);
}

nav ul {
  gap: 70px;
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 16px;
  min-height: 25px;

}

nav a {
  text-decoration: none;
  font-size: 16px;
  padding: 2px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a:hover {
  background-color: #262636;
  border-radius: 10px;
  display: flex;
  transform: scale(1.2);
  box-shadow: 1px 1px 3px #7b00ff;
}

.active {
  color: #6D28FF;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 400;
}

.active:hover {
  background-color: #262636;
  filter: brightness(1.2);
  transform: scale(1.2);
}

button:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 3px #7b00ff;
  font-weight: 400;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width:1500px;
}

.hero .text {
  width: 700px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #FF4F9A;
  padding: 1px;
  padding-left: 25px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  margin-top: 10px;
}

.contact-me {
  width: 25%;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  align-self: center;
  border-radius: 20px;
  background-color: black;
  color: #6D28FF;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid #6D28FF;
}

.hero img{
  width:230px;
  height: 250px;
  margin-top: 10px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-me {
  width: calc(700px + 20%);
  max-height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #010101;
  border-radius: 10px;
  margin-top: 15px;
  padding: 3px;
  padding-left: 27px;
  box-shadow: 0 0 2px #1e1e1e;
}

.about-me h2 {
  padding-left: 3px;
  padding: 3px;
  margin: 0;
}

.projects-section {
  width: calc(730px + 20%);
  height: 300PX;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 2px #1e1e1e;
  align-items: center;
  justify-content: center;
}

.button-part {
  width: 87%;
  margin-bottom: 10px;
  margin-top: 0;

}

.button-projects {
  width: 180px;
  height: auto;
  justify-content: center;
  align-self: center;
  border-radius: 12px;
  background-color: #FF4F9A;
  color: black;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid black;
}

.projects-container{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.project-card {
  background-color: black;
  width: 25%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #6D28FF;
}

.project-card h3 {
  margin-bottom: 0;
}

.project-card:hover{
  transform: scale(1.1);
}
