:root {
    /* צבעים */
    --background-color: #0a0a0a;
    --surface-color: #1c1c1c; /* צבע כרטיסיות*/
    --accent-color: #ff0055; /* וורוד נאון */
    --text-main: #ffffff;
    --text-muted: #b3b3b3;
    
    /* פונטים */
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Poppins', sans-serif;
    
    /* ריווחים */
    --section-padding: 80px;
    --border-radius: 12px;
}

*, *::before, *::after {
  box-sizing: border-box
}

::selection {
  background-color: #FF4F9A;
  color: #010101;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-main);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  color: var(--text-muted);
  font-size: 1.1rem;
}
.logo {
  color: var(--accent-color);
}
header {
  display: flex;
  padding: 1rem;
  margin: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  gap: 1.5rem;
  justify-content: end;
  padding: 1rem;
}

nav a {
  color: var(--text-main);
  text-decoration: none;
}

